# Files from QtCreator #
########################
QTCreator_RixsToolUI/
.idea/

# Distribution / packaging #
############################
.Python
bin/
build/
dist/
eggs/
.eggs/
lib/

# Performance Reports #
#######################
*.performance

# Notes #
#########
notebook.py
practices.txt
